h2.intro {
  font-style: italic;
  font-size: 22pt;
  text-align: center;
}

h1 {
  text-align: center;
}

p.intro {
  font-size: 12pt;
  font-style: oblique;
}

img.intro {
  width: 300px;
  height: 300px;
  margin-left: 35%;
}
