h1,h2 {
  text-align: center;
  color: darkcyan;
}

.important {
  color: darkred;
}

.unimportant {
  color: darkblue;
}

.highlight {
  font-style: italic;
}

img {
  width: 500px;
  height: 500px;
  margin-left: 30%;
}
